<%- include('../partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>
        Skill: 
        <input type="text" name="skill" value="<%= skill.skill %>">
    </label><br>
    <label>
        Level:
        <input type="text" name="level" value="<%= skill.level %>">
    </label><br>
    <label>
        Status:
        <% if (skill.level === 10) { %>
            <%= skill.done ? 'Done' : 'Not Done' %>
        <% } else { %>
            <%= skill.done ? 'Completed' : 'Not Completed' %>
        <% } %>
    </label><br>
    <button type="submit">Update Skilll</button>
</form>

<%- include('../partials/footer') %>